nav{
  background-color: white !important;
}
.nav-item{
  color: #333;
  padding-left: 20px;
}
.nav-link{
  color: #333;
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
