
// float button
.float-btn{
  position:fixed;
	width:60px;
	height:60px;
	bottom:35px;
	right:40px;
	background-color:#ff6f61;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  transition: all .5s;
  .my-float{
    margin-top:22px;
  }
}
.float-btn:hover{
  transform: scale(1.2);
}

.float-btn:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: -111px;
  transform: translateY(-50%);
  width: 100px;
  height: 1.5rem;
  background-color: #ff6f61;
  color: white;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 4px;
}

.float-btn:hover::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-left: 0.75rem solid #ff6f61;
}
