/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
}

body{
  background-image: url('assets/images/page-bg.jpg');
  font-family: 'poppins' !important;
}
